{{today | date: "dd/MMM/yyyy hh:mm a"}}
<h1 myHighlight>Welcome to {{title}}!</h1>

<h2>Capitalize first letter w/pipe</h2>
<label name="fName"> First Name:
  <input [(ngModel)]="firstName" type="text" />
</label>
<br/>
<label name="fName"> First Name (Capitalized)
    {{firstName | capitalize}}
</label>
<br/>
<br/>
<label name="fName"> Employee Name (Capitalized)
  {{employee | employeeName}}
</label>

<div>

  <div *ngIf="profile else noProfileFound">
    Name: {{profile.name}}
  </div>
  <ng-template #noProfileFound>
    No Profile Found with Ng-Templage
  </ng-template>
  
</div>

<div>
    <a routerLink='/stocks'>STOCKS</a>
</div>

<router-outlet></router-outlet>

